streamings.client/.DS_Store
streamings.client/node_modules
streamings.client//dist
streamings.client/.env.local
streamings.client/.env.*.local
streamings.client/npm-debug.log*
streamings.client/yarn-debug.log*
streamings.client/yarn-error.log*
streamings.client/pnpm-debug.log*
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
streamings.api/node_modules
streamings.api/public/hot
streamings.api/public/storage
streamings.api/storage/*.key
streamings.api/vendor
streamings.api.env
streamings.api.env.backup
streamings.api.phpunit.result.cache
streamings.apiHomestead.json
streamings.apiHomestead.yaml
streamings.apinpm-debug.log
streamings.apiyarn-error.log
streamings.api/.idea
streamings.api/.vscode
